#title-show {
  margin-top: 100px;
  margin-bottom: 20px;
}

.download {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

#pButton{
  font-family: FontAwesome;
  display: inline-block;
  cursor:pointer;
}

.play:before{
  content: "\f04b";

}
.pause:before{
  content: "\f04c";
}
