#title-show {
  margin-top: 115px;
  margin-bottom: 20px;
}

.download {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

#pButton{
  font-family: FontAwesome;
  display: inline-block;
  cursor:pointer;
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.5);
  }
}

.impossible {
  background-color: #E5E5E5;
  opacity: 0.1;
}
.impossible a {
  cursor: default;
}
.play:before{
  content: "\f04b";
  color: #24CF5F;
  font-size:18px;
}
.pause:before{
  content: "\f04c";
  font-size:18px;
  color: $pink;
}

#header-timetable-search{
  margin-top: 65px;
}

#timetable-container{
  margin-top: -25px;
}

#hits{
  height: 70vh;
  overflow: auto;
}
