<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 custom-icons">
        <p>Made with love by Damien, Jean, Oscar & Pauline @LeWagon</p>
      </div>
      <div class="col-xs-12 col-sm-3 text-right custom-icons">
        <p id="algolia">powered by <%= image_tag "algolia_logo.png" %></p>
      </div>
    </div>
  </div>
</div>

