<div class="banner full-vh">
  <div class="banner-content">
    <h1>SUPER FESTIVAL</h1>
    <br>
    <p>manage your own festival's timetable</p>
    <div id="scrolldown">
      <a href="#" id="scroll"><i class="fa fa-caret-down fa-5x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<%= render 'shared/flashes' %>

<div class="padding-topbot-85" id="concept">
    <div class="container">
      <div class="row">
        <h2 class="text-center pink-shadow">festivals</h2>
        <hr>
        <% @festivals.each do |r| %>
        <%= render "festival", festival: r %>
        <% end %>
      </div>
    </div>
</div>

<div class="wrapper-blue padding-topbot-85" id="festivals">
    <div class="container">
      <div class="row">
        <h2 class="text-center pink-shadow">concept</h2>
        <hr>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
          <img src="https://jeanquetil.github.io/airbnb-static/images/beer.png" />
          <h3>Too many</h3>
          <p>Too many artist's festival ?</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <img src="https://jeanquetil.github.io/airbnb-static/images/dollar.png" />
          <h3>Choose</h3>
          <p>Choose the artists you wanna see.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <img src="https://jeanquetil.github.io/airbnb-static/images/globe.png" />
          <h3>Schedule</h3>
          <p>It'll build your festival's schedule.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <img src="https://jeanquetil.github.io/airbnb-static/images/heart.png" />
          <h3>Export</h3>
          <p>Connect your schedule to your Smartphone.</p>
        </div>
      </div>
    </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.tohide').hide();
      $(window).scroll(function() {
          var scroll = $(window).scrollTop();

          if (scroll >= $(window).height()) {
              $(".navbar-wagon").addClass("lighter-background");
              $(".navbar-wagon").addClass("box-shadow");
              $('.tohide').show();
          } else {
              $(".navbar-wagon").removeClass("lighter-background");
              $(".navbar-wagon").removeClass("box-shadow");
              $('.tohide').hide();
          }
      });
      $('#scroll').click(function() {
        $('html, body').animate({
          scrollTop: $("#concept").offset().top
        }, 1500);
      });
    });
  <% end %>

<!--   <script>
  $(document).ready(function() {
      var tour = new Tour({
      orphan: true,
      steps: [
      {
        orphan: true,
        title: "Welcome to SuperFestival",
        content: "Let us help you getting ready for your next festival"
      },
      {
        placement: 'left',
        element: "#login",
        title: "First, you need to create an account",
        content: "This will allow you to access all our features"
      },
      next();
      {
        element: "#festiv",
        title: "First, click on your festival",
        content: "Let say you're going to Lollapalooza"
      },
      ]});

    tour.init();
    tour.start();
  });
</script> -->
<% end %>
