.footer {
  background-color: $pink;
  height: 60px;
  color:white;
  font-style: italic;
  letter-spacing:2px;
  font-size:12px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.footer p {
  margin:0!important;
}
