.timetable {
  background-color: $iceberg;
  position:relative;
  margin-bottom:40px;
}

.false {
  background-color: $iceberg;
  position:relative;
}

.timetable .card-event {
  position:absolute;
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#timetable .fa-times {
  color: $pink!important;
  padding: 0 10px;
}

.timetable .concert {
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.timetable-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
}

.timetable h4 {
  font-size: 12px;
  letter-spacing: 1px;
}

.timetable .time {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size:12px;
  background: #FFDEAD;
}

.timetable .bottom {
  bottom: 10px;
}

