 <div class="wrapper">
  <div class="container">

    <div class="row">
      <h3>List of concerts for this festival</h3>
      <div class="col-xs-12 col-lg-8" id="search-timetable-container">
        <header>
          <div id="search-input"></div>
        </header>

        <main>
          <div id="left-column">
            <div id="concert_day" class="facet"></div>
            <span id="festival_name" class="facet hidden"></span>
          </div>

          <div id="right-column">
            <div id="hits"></div>
            <div id="pagination"></div>
          </div>
        </main>
      </div>

      <div id="timetable-container" class="col-lg-4">
        <h3>Your future timetable ...</h3>
      </div>
      <!-- /INTERFACE -->

      <!-- TEMPLATES -->
      <script type="text/html" id="hit-template">
        <div class="hit">
          <div class="hit-content">
            <a href="{{ event_url }}" data-method="post" data-remote="true">
              {{ artist_name }} - {{ artist_genre}}
            </a>
          </div>
        </div>
      </script>

      <script type="text/html" id="no-results-template">
        <div id="no-results-message">
          <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
        </div>
      </script>
      <!-- /TEMPLATES -->

      <!-- SCRIPTS -->

      <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    function clickfestival() {
      $('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').click();
    }
    $(document).ready(function() {
      setTimeout(function(){
        if (!($('.ais-refinement-list--checkbox[value="<%== j @festival.name %>"]').is(':checked'))) {
          setTimeout(clickfestival, 100)
        }
      }, 400)
    });
  </script>
  <script>
    $(document).ready(function() {

      setTimeout(function() {
          $('.ais-menu--list').on('click', ".ais-menu--link", function() { /* On écoute l'élément Parent .ais-menu--list et on déclenche une action au click sur l'élément enfant .ais-menu--link qui lui est généré dynamiquement */
            var day = parseInt($(this).text().slice(0,1));
              $.ajax({
                type: 'GET',
                url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
              });
          });
          if($('.ais-menu--list').children().hasClass('ais-menu--item__active')){
            var day = parseInt($('.ais-menu--item__active').text().slice(0,1));
            console.log(day);
            $.ajax({
              type: 'GET',
              url: '/festivals/' + <%= @festival.id %> +  '/timetable/' + day
            });
          }
        }, 1000)
      })

    </script>
<% end %>
