<div class="wrapper">
  <div class="container">
    <div class="row">

    <div class="timetable">

    </div>

      <h1><%= @festival.name %></h1>
      <h2>List of concerts for this festival</h2>
      <% @concerts.each do |concert| %>
        <%= link_to concert_events_path(concert), method: :post do %>
          <%= render "concert", concert: concert %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

