<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1><%= @festival.name %></h1>
    </div>
    <div class="row">
      <ul class="list-inline">
        <% @dates.each do |date| %>
        <li>
          <%= link_to festival_path(@festival, date: date) do %>
            <%= date %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h2>List of concerts for this festival</h2>
      <% @concerts.each do |r| %>
        <%= render "concert", concert: r %>
      <% end %>
    </div>
  </div>
</div>
