// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.full-vh {
  height:100vh;
}

.navbar-height {
  height: 85px;
}

hr {
  margin-top:17px;
}

h2 {
  color: $bunker;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
  text-shadow: 4px 4px $iceberg;
}

.border {
  border: solid 1px red;
  margin:10px 0;
  text-align:center;
}

h4 {
  font-size: 12px;
}
