// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.full-vh {
  height:40vh;
}

hr {
  margin-top:17px;
}

h2 {
  color: $bunker;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
  margin-bottom:20px;
}

.iceberg-shadow {
  text-shadow: 4px 4px $iceberg;
}

.pink-shadow {
  text-shadow: 4px 4px $pink;
}

.border {
  border: solid 1px red;
  margin:10px 0;
  text-align:center;
}

.margin-tb-10 {
  margin: 10px 0;
}

.border-top {
  border-top: dashed 2px white;
  margin:10px 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.inline-block {
  display:inline-block;
}

.margin-tb-7-2 {
  margin: 7px 0 2px 0;
}

.box-shadow {
  box-shadow: 0px -8px #FFDEAD inset;
}

